RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Redirect 301 /elementor-1025/ /ranking/
Redirect 301 /elementor-1025 /ranking/
Redirect 301 /liga/ /ranking/
Redirect 301 /liga /ranking/
Redirect 301 /elementor-1025/liga/ /ranking/
Redirect 301 /elementor-1025/liga-t2/ /ranking/
Redirect 301 /elementor-1025/liga-t3/ /ranking/
Redirect 301 /elementor-1025/liga-t4/ /ranking/
Redirect 301 /inicio/canchas/ /sedes/
Redirect 301 /inicio/canchas /sedes/
Redirect 301 /inicio/canchas/cancha-palermo/ /sedes/#palermo
Redirect 301 /inicio/canchas/cancha-talleres/ /sedes/#open
Redirect 301 /americas/ /sedes/#americas
Redirect 301 /inicio/horarios/ /academia/
Redirect 301 /inicio/horarios /academia/
